{% extends 'contacts/base.html' %}
{% load static %}

{% block content %}
        <!-- LOGIN --->
        <section id="login" class="section section-register">
            <div class="section-wrap display-flex">
                <div class="cont-wrap">
                    <div class="form-stile1 mr50">
                        <form method="post">
                            {% csrf_token %}
                            <legend>Log in</legend>
                            <div class="container">
                                <div class="form-item display-flex">
                                    <label for="id_username">Username</label>
                                    {{ form.username }}
                                </div>
                                <div class="form-item display-flex">
                                    <label for="id_password">Password</label>
                                    {{ form.password }}
                                </div>
                                <div class="btns-wrap">
                                    <button type="submit" class="btn-1">Log in</button>
                                    <a href="{% url 'users:password_reset' %}" class="btn-1" >
                                        <span>Forgot Password?</span>
                                      </a>
                                </div>
                            
                            
                            </div>
                        </form>
                    </div>
                </div>
                <img src="{% static 'contacts/images/r4.webp' %}" class="images-assistant" alt="" />
            </div>
        </section>
        {% endblock %}
