{% extends 'contacts/base.html' %} {% load static %} {% block content %}

<section id="register" class="section section-register add-new-contact">
  <div class="section-wrap display-flex">
    <div class="cont-wrap">
      <div class="form-stile1 mr50">
        <form method="post">
          <legend>Password reset</legend>
          <div class="container form-inner">
            {% csrf_token %} {{ form.as_p }}
            <div class="btns-wrap">
              <button type="submit" class="btn-1">
                Request password reset
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <img
      src="{% static 'contacts/images/r10.webp' %}"
      class="images-assistant"
      alt=""
    />
  </div>
</section>
{% endblock %}
