{% extends "contacts/base.html" %} {% load static %} {% block content %}
<section id="register" class="section section-register add-new-contact">
  <div class="section-wrap display-flex">
    <div class="cont-wrap mr50">
      <h2 class="h2-smaller med-center">Password reset request sent</h2>
      <p class="fz20 med-center">
        We've emailed you with instructions<br />
        on how to reset your password.
      </p>
    </div>
    <img
      src="{% static 'contacts/images/r10.webp' %}"
      class="images-assistant"
      alt=""
    />
  </div>
</section>
{% endblock %}
