<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Personal Assistant</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="./images/favicon.webp"
      rel="shortcut icon"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="./css/style.min.css" />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;500;600;700;800&display=swap"
      rel="stylesheet"
    />
  </head>

  <body id="topSection">
    <div id="preloader">
      <div id="status"></div>
    </div>

    <header class="floatingHeader">
      <div class="section-wrap display-flex header-wrap">
        <div class="logo">
          <h1><img src="./images/logo.png" alt="Personal Assistants" /></h1>
        </div>
        <div class="menu">
          <input class="switcher" type="checkbox" id="menu" />
          <label class="open" for="menu">
            <i class="fa fa-bars"></i>
          </label>

          <label for="menu">
            <i class="fa fa-times"></i>
          </label>
          <nav>
            <ul class="display-flex">
              <li class="nav-li menu-link">
                <a href="" target="_blank">
                  <span>sign up</span>
                </a>
              </li>
              <li class="nav-li menu-link">
                <button type="button">
                  <span>log in</span>
                </button>
              </li>
              <li class="nav-li menu-link">
                <button type="button">
                  <span>log out</span>
                </button>
              </li>
              <li class="nav-li menu-link">
                <button type="button">
                  <span>contact</span>
                </button>
              </li>
              <li class="nav-li menu-link">
                <button type="button">
                  <span>files</span>
                </button>
              </li>
              <li class="nav-li menu-link">
                <button type="button">
                  <span>news</span>
                </button>
              </li>
              <li class="nav-li menu-link">
                <button type="button">
                  <span>notes</span>
                </button>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </header>

    <main>
      <!-- gallery --->
      <section id="signup" class="section section-table section-files">
        <div class="section-wrap">
          <div>
            <h2 class="pb40">gallery</h2>
          </div>
          <div class="serch-row pb40 display-flex">
            <div class="search-container">
              <form action="">
                <input type="text" placeholder="Search.." name="search" />
                <button type="submit"><i class="fa fa-search"></i></button>
              </form>
            </div>
            <div class="btns-wrap">
              <a href="" class="btn-1 btn-2" target="_blank">
                <span>filter by...</span>
              </a>
              <button type="button" class="btn-1 btn-2">
                <span>filter by...</span>
              </button>
            </div>
          </div>
          <div class="files-wrap">
            <div class="files-iner display-flex">
              <div class="file-box">
                <div class="img-wrap">
                  <img src="./images/stam/stam1.jpg" alt="" />
                </div>
                <p
                  title="Description Description Description Description Description
                Description"
                >
                  Description Description Description Description Description
                  Description
                </p>
                <div class="btns-wrap display-flex">
                  <button class="btn-1 btn-2" type="submit" title="remove">
                    <span>remove</span>
                  </button>
                  <button class="btn-1 btn-2" type="submit" title="Delete">
                    <span>change</span>
                  </button>
                </div>
              </div>

              <div class="file-box">
                <div class="img-wrap">
                  <img src="./images/stam/stam4.jpg" alt="" />
                </div>
                <p
                  title="Description Description Description Description Description
                Description"
                >
                  Description
                </p>
                <div class="btns-wrap display-flex">
                  <button class="btn-1 btn-2" type="submit" title="remove">
                    <span>remove</span>
                  </button>
                  <button class="btn-1 btn-2" type="submit" title="Delete">
                    <span>change</span>
                  </button>
                </div>
              </div>
              <div class="file-box">
                <div class="img-wrap">
                  <img src="./images/stam/stam5.jpg" alt="" />
                </div>
                <p
                  title="Description Description Description Description Description
                Description"
                >
                  Description Description Description Description Description
                  Description
                </p>
                <div class="btns-wrap display-flex">
                  <button class="btn-1 btn-2" type="submit" title="remove">
                    <span>remove</span>
                  </button>
                  <button class="btn-1 btn-2" type="submit" title="Delete">
                    <span>change</span>
                  </button>
                </div>
              </div>
              <div class="file-box">
                <div class="img-wrap">
                  <img src="./images/stam/stam6.jpg" alt="" />
                </div>
                <p
                  title="Description Description Description Description Description
                Description"
                >
                  Description Description Description Description Description
                  Description
                </p>
                <div class="btns-wrap display-flex">
                  <button class="btn-1 btn-2" type="submit" title="remove">
                    <span>remove</span>
                  </button>
                  <button class="btn-1 btn-2" type="submit" title="Delete">
                    <span>change</span>
                  </button>
                </div>
              </div>
              <div class="file-box">
                <div class="img-wrap">
                  <img src="./images/stam/stam1.jpg" alt="" />
                </div>
                <p
                  title="Description Description Description Description Description
                Description"
                >
                  Description Description Description Description Description
                  Description
                </p>
                <div class="btns-wrap display-flex">
                  <button class="btn-1 btn-2" type="submit" title="remove">
                    <span>remove</span>
                  </button>
                  <button class="btn-1 btn-2" type="submit" title="Delete">
                    <span>change</span>
                  </button>
                </div>
              </div>
              <div class="file-box">
                <div class="img-wrap">
                  <img src="./images/stam/stam2.jpg" alt="" />
                </div>
                <p
                  title="Description Description Description Description Description
                Description"
                >
                  Description Description
                </p>
                <div class="btns-wrap display-flex">
                  <button class="btn-1 btn-2" type="submit" title="remove">
                    <span>remove</span>
                  </button>
                  <button class="btn-1 btn-2" type="submit" title="Delete">
                    <span>change</span>
                  </button>
                </div>
              </div>
              <div class="file-box">
                <div class="img-wrap">
                  <img src="./images/stam/stam3.jpg" alt="" />
                </div>
                <p
                  title="Description Description Description Description Description
                Description"
                >
                  Description Description Description Description Description
                  Description
                </p>
                <div class="btns-wrap display-flex">
                  <button class="btn-1 btn-2" type="submit" title="remove">
                    <span>remove</span>
                  </button>
                  <button class="btn-1 btn-2" type="submit" title="Delete">
                    <span>change</span>
                  </button>
                </div>
              </div>
              <div class="file-box">
                <div class="img-wrap">
                  <img src="./images/stam/stam4.jpg" alt="" />
                </div>
                <p
                  title="Description Description Description Description Description
                Description"
                >
                  Description
                </p>
                <div class="btns-wrap display-flex">
                  <button class="btn-1 btn-2" type="submit" title="remove">
                    <span>remove</span>
                  </button>
                  <button class="btn-1 btn-2" type="submit" title="Delete">
                    <span>change</span>
                  </button>
                </div>
              </div>
              <div class="file-box">
                <div class="img-wrap">
                  <img src="./images/stam/stam5.jpg" alt="" />
                </div>
                <p
                  title="Description Description Description Description Description
                Description"
                >
                  Description Description Description Description Description
                  Description
                </p>
                <div class="btns-wrap display-flex">
                  <button class="btn-1 btn-2" type="submit" title="remove">
                    <span>remove</span>
                  </button>
                  <button class="btn-1 btn-2" type="submit" title="Delete">
                    <span>change</span>
                  </button>
                </div>
              </div>
              <div class="file-box">
                <div class="img-wrap">
                  <img src="./images/stam/stam6.jpg" alt="" />
                </div>
                <p
                  title="Description Description Description Description Description
                Description"
                >
                  Description Description Description Description Description
                  Description
                </p>
                <div class="btns-wrap display-flex">
                  <button class="btn-1 btn-2" type="submit" title="remove">
                    <span>remove</span>
                  </button>
                  <button class="btn-1 btn-2" type="submit" title="Delete">
                    <span>change</span>
                  </button>
                </div>
              </div>
              <div class="file-box">
                <div class="img-wrap">
                  <img src="./images/stam/stam1.jpg" alt="" />
                </div>
                <p
                  title="Description Description Description Description Description
                Description"
                >
                  Description Description Description Description Description
                  Description
                </p>
                <div class="btns-wrap display-flex">
                  <button class="btn-1 btn-2" type="submit" title="remove">
                    <span>remove</span>
                  </button>
                  <button class="btn-1 btn-2" type="submit" title="Delete">
                    <span>change</span>
                  </button>
                </div>
              </div>
              <div class="file-box">
                <div class="img-wrap">
                  <img src="./images/stam/stam2.jpg" alt="" />
                </div>
                <p
                  title="Description Description Description Description Description
                Description"
                >
                  Description Description
                </p>
                <div class="btns-wrap display-flex">
                  <button class="btn-1 btn-2" type="submit" title="remove">
                    <span>remove</span>
                  </button>
                  <button class="btn-1 btn-2" type="submit" title="Delete">
                    <span>change</span>
                  </button>
                </div>
              </div>
              <div class="file-box">
                <div class="img-wrap">
                  <img src="./images/stam/stam3.jpg" alt="" />
                </div>
                <p
                  title="Description Description Description Description Description
                Description"
                >
                  Description Description Description Description Description
                  Description
                </p>
                <div class="btns-wrap display-flex">
                  <button class="btn-1 btn-2" type="submit" title="remove">
                    <span>remove</span>
                  </button>
                  <button class="btn-1 btn-2" type="submit" title="Delete">
                    <span>change</span>
                  </button>
                </div>
              </div>
              <div class="file-box">
                <div class="img-wrap">
                  <img src="./images/stam/stam4.jpg" alt="" />
                </div>
                <p
                  title="Description Description Description Description Description
                Description"
                >
                  Description
                </p>
                <div class="btns-wrap display-flex">
                  <button class="btn-1 btn-2" type="submit" title="remove">
                    <span>remove</span>
                  </button>
                  <button class="btn-1 btn-2" type="submit" title="Delete">
                    <span>change</span>
                  </button>
                </div>
              </div>
              <div class="file-box">
                <div class="img-wrap">
                  <img src="./images/stam/stam5.jpg" alt="" />
                </div>
                <p
                  title="Description Description Description Description Description
                Description"
                >
                  Description Description Description Description Description
                  Description
                </p>
                <div class="btns-wrap display-flex">
                  <button class="btn-1 btn-2" type="submit" title="remove">
                    <span>remove</span>
                  </button>
                  <button class="btn-1 btn-2" type="submit" title="Delete">
                    <span>change</span>
                  </button>
                </div>
              </div>
              <div class="file-box">
                <div class="img-wrap">
                  <img src="./images/stam/stam6.jpg" alt="" />
                </div>
                <p
                  title="Description Description Description Description Description
                Description"
                >
                  Description Description Description Description Description
                  Description
                </p>
                <div class="btns-wrap display-flex">
                  <button class="btn-1 btn-2" type="submit" title="remove">
                    <span>remove</span>
                  </button>
                  <button class="btn-1 btn-2" type="submit" title="Delete">
                    <span>change</span>
                  </button>
                </div>
              </div>
              <div class="file-box">
                <div class="img-wrap">
                  <img src="./images/stam/stam1.jpg" alt="" />
                </div>
                <p
                  title="Description Description Description Description Description
                Description"
                >
                  Description Description Description Description Description
                  Description
                </p>
                <div class="btns-wrap display-flex">
                  <button class="btn-1 btn-2" type="submit" title="remove">
                    <span>remove</span>
                  </button>
                  <button class="btn-1 btn-2" type="submit" title="Delete">
                    <span>change</span>
                  </button>
                </div>
              </div>
              <div class="file-box">
                <div class="img-wrap">
                  <img src="./images/stam/stam2.jpg" alt="" />
                </div>
                <p
                  title="Description Description Description Description Description
                Description"
                >
                  Description Description
                </p>
                <div class="btns-wrap display-flex">
                  <button class="btn-1 btn-2" type="submit" title="remove">
                    <span>remove</span>
                  </button>
                  <button class="btn-1 btn-2" type="submit" title="Delete">
                    <span>change</span>
                  </button>
                </div>
              </div>
              <div class="file-box">
                <div class="img-wrap">
                  <img src="./images/stam/stam3.jpg" alt="" />
                </div>
                <p
                  title="Description Description Description Description Description
                Description"
                >
                  Description Description Description Description Description
                  Description
                </p>
                <div class="btns-wrap display-flex">
                  <button class="btn-1 btn-2" type="submit" title="remove">
                    <span>remove</span>
                  </button>
                  <button class="btn-1 btn-2" type="submit" title="Delete">
                    <span>change</span>
                  </button>
                </div>
              </div>
              <div class="file-box">
                <div class="img-wrap">
                  <img src="./images/stam/stam4.jpg" alt="" />
                </div>
                <p
                  title="Description Description Description Description Description
                Description"
                >
                  Description
                </p>
                <div class="btns-wrap display-flex">
                  <button class="btn-1 btn-2" type="submit" title="remove">
                    <span>remove</span>
                  </button>
                  <button class="btn-1 btn-2" type="submit" title="Delete">
                    <span>change</span>
                  </button>
                </div>
              </div>
              <div class="file-box">
                <div class="img-wrap">
                  <img src="./images/stam/stam5.jpg" alt="" />
                </div>
                <p
                  title="Description Description Description Description Description
                Description"
                >
                  Description Description Description Description Description
                  Description
                </p>
                <div class="btns-wrap display-flex">
                  <button class="btn-1 btn-2" type="submit" title="remove">
                    <span>remove</span>
                  </button>
                  <button class="btn-1 btn-2" type="submit" title="Delete">
                    <span>change</span>
                  </button>
                </div>
              </div>
              <div class="file-box">
                <div class="img-wrap">
                  <img src="./images/stam/stam6.jpg" alt="" />
                </div>
                <p
                  title="Description Description Description Description Description
                Description"
                >
                  Description Description Description Description Description
                  Description
                </p>
                <div class="btns-wrap display-flex">
                  <button class="btn-1 btn-2" type="submit" title="remove">
                    <span>remove</span>
                  </button>
                  <button class="btn-1 btn-2" type="submit" title="Delete">
                    <span>change</span>
                  </button>
                </div>
              </div>
              <div class="file-box">
                <div class="img-wrap">
                  <img src="./images/stam/stam1.jpg" alt="" />
                </div>
                <p
                  title="Description Description Description Description Description
                Description"
                >
                  Description Description Description Description Description
                  Description
                </p>
                <div class="btns-wrap display-flex">
                  <button class="btn-1 btn-2" type="submit" title="remove">
                    <span>remove</span>
                  </button>
                  <button class="btn-1 btn-2" type="submit" title="Delete">
                    <span>change</span>
                  </button>
                </div>
              </div>
              <div class="file-box">
                <div class="img-wrap">
                  <img src="./images/stam/stam2.jpg" alt="" />
                </div>
                <p
                  title="Description Description Description Description Description
                Description"
                >
                  Description Description
                </p>
                <div class="btns-wrap display-flex">
                  <button class="btn-1 btn-2" type="submit" title="remove">
                    <span>remove</span>
                  </button>
                  <button class="btn-1 btn-2" type="submit" title="Delete">
                    <span>change</span>
                  </button>
                </div>
              </div>
              <div class="file-box">
                <div class="img-wrap">
                  <img src="./images/stam/stam3.jpg" alt="" />
                </div>
                <p
                  title="Description Description Description Description Description
                Description"
                >
                  Description Description Description Description Description
                  Description
                </p>
                <div class="btns-wrap display-flex">
                  <button class="btn-1 btn-2" type="submit" title="remove">
                    <span>remove</span>
                  </button>
                  <button class="btn-1 btn-2" type="submit" title="Delete">
                    <span>change</span>
                  </button>
                </div>
              </div>
              <div class="file-box">
                <div class="img-wrap">
                  <img src="./images/stam/stam4.jpg" alt="" />
                </div>
                <p
                  title="Description Description Description Description Description
                Description"
                >
                  Description
                </p>
                <div class="btns-wrap display-flex">
                  <button class="btn-1 btn-2" type="submit" title="remove">
                    <span>remove</span>
                  </button>
                  <button class="btn-1 btn-2" type="submit" title="Delete">
                    <span>change</span>
                  </button>
                </div>
              </div>
              <div class="file-box">
                <div class="img-wrap">
                  <img src="./images/stam/stam5.jpg" alt="" />
                </div>
                <p
                  title="Description Description Description Description Description
                Description"
                >
                  Description Description Description Description Description
                  Description
                </p>
                <div class="btns-wrap display-flex">
                  <button class="btn-1 btn-2" type="submit" title="remove">
                    <span>remove</span>
                  </button>
                  <button class="btn-1 btn-2" type="submit" title="Delete">
                    <span>change</span>
                  </button>
                </div>
              </div>
              <div class="file-box">
                <div class="img-wrap">
                  <img src="./images/stam/stam6.jpg" alt="" />
                </div>
                <p
                  title="Description Description Description Description Description
                Description"
                >
                  Description Description Description Description Description
                  Description
                </p>
                <div class="btns-wrap display-flex">
                  <button class="btn-1 btn-2" type="submit" title="remove">
                    <span>remove</span>
                  </button>
                  <button class="btn-1 btn-2" type="submit" title="Delete">
                    <span>change</span>
                  </button>
                </div>
              </div>
            </div>
            <nav class="pager-wrap">
              <ul class="pager">
                <li class="previous">
                  <!-- class="{% if not quotes.has_previous %} disabled {% endif %}"
                    href="{% if quotes.has_previous %} {% url 'quotes:root_paginate' quotes.previous_page_number %} {% else %} # {% endif %}" -->
                  <a class="" href="">
                    <span aria-hidden="true">←</span> Previous
                  </a>
                </li>

                <li class="next">
                  <a class="" href="">Next <span aria-hidden="true">→</span></a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </section>
    </main>

    <a href="#topSection" title="go back up" class="backToTop">
      <i class="fa fa-angle-up" aria-hidden="true"></i>
      <span>go back up</span>
    </a>

    <script src="./scripts/jquery-3.3.1.min.js"></script>
    <script src="./scripts/main.js"></script>
  </body>
</html>
