{% extends 'contacts/base.html' %}
{% load static %}
{% load extract %}

{% block content %}
<section id="signup" class="section section-table section-notes">
    <div class="section-wrap">
      <div class="serch-row pb40 display-flex">
        <div class="search-container">
          <form action="{% url 'notes:notes_main' %}" method="get">
          <input type="text" placeholder="Search.." name="search" value="{{ request.GET.search }}" />
          <button type="submit"><i class="fa fa-search"></i></button>
        </form>
        </div>
        <div class="btns-wrap">
          <a href="{% url 'notes:notes_main' %}" class="btn-1 btn-2" >
          <span>Show All Notes</span>
        </a>
          <a href="{% url 'notes:note_add' %}" class="btn-1 btn-2" >
            <span>add new notes</span>
          </a>
        </div>
      </div>
      {% if notes %}
      <div class="table-wrapper">
        <table>
          <thead>
            <tr>
              <th>Title</th>
              <th>Date of Create</th>
              <th>Tag</th>
              <th>Description</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
          {% for note in notes %}
            <tr>
              <td data-th="Title">
                <div class="td-inner">
                  <p title="{{note.name}}">{{note.name}}</p>
                </div>
              </td>
              <td data-th="Date of Create">
                <div class="td-inner">
                  <p title="{{note.created}}">{{note.created}}</p>
                </div>
              </td>
              <td data-th="Tag">
                <div class="td-inner">
                  <p title="{{note.tags|tags}}">{{note.tags|tags}}</p>
                </div>
              </td>
              <td data-th="Description">
                <div class="td-inner">
                  <p title="Discuss project requirements and next steps.">
                    {{note.description}}
                  </p>
                </div>
              </td>
              <td data-th="Actions">
                <div class="td-inner">
                  <div class="table-btns-wrap display-flex justify-start actions-btns">
                    <div class="delete-container pp-container">
                    <button
                      type="submit"
                      class="table-btn delete-btn"
                      title="Delete"
                    >
                      <span class="for-screnReader">Delete</span>
                    </button>
                    <div class="pp-iner hidden">
                      <p class="center">Are you sure?</p>
                      <div class="btns-wrap display-flex">

                        <form action="{% url 'notes:delete_note' pk=note.pk %}" method="post">
                          {% csrf_token %}
                          <button class="btn-1 btn-2 " type="submit" title="Delete">
                              <span>yes</span>
                          </button>
                      </form>
                        <button
                          class="btn-1 btn-2 close"
                          type="submit"
                          title="Delete"
                        >
                          <span>close</span>
                        </button>
                      </div>
                    </div>
                  </div>
                    <a href="{% url 'notes:note_update' pk=note.pk %}" class="table-btn chang-btn" title="Change">
                      <span class="for-screnReader">Change</span>
                    </a>
                  </div>
                </div>
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
      {% else %}
    <div class="no-notes">
      <h2>No notes found</h2>
    </div>
    {% endif %}
    </div>
</section>
{% endblock %}