{% extends 'contacts/base.html' %}
{% block content %}
<section id="signup" class="section section-table section-news">
  <div class="section-wrap">
    <div class="currency-wrap">
      <h2>Currency Exchange Rates</h2>
      <div class="currency-inner">
        {% if valute_data %}
        <ul class="list-name">
          <li>Date: {{ valute_data.date }}</li>
          <li>Bank: {{ valute_data.bank }}</li>
          <li>Base Currency Literal: {{ valute_data.baseCurrencyLit }}</li>
        </ul>
        <h3>Exchange Rates:</h3>
        <ul class="list-data">
          {% for rate in valute_data.exchangeRate %}
          <li>
            {{ rate.currency }} - Sale Rate: {{ rate.saleRateNB }}, Purchase Rate: {{ rate.purchaseRateNB }}
          </li>
          {% endfor %}
        </ul>
        {% else %}
        <p>No exchange rate data available.</p>
        {% endif %}
      </div>
    </div>
    <div class="news-wrap">
      <div>
        <h2 class="pb40">News</h2>
      </div>
      <div class="news-boxs">
        {% if error %}
        <p class="error-p">{{ error }}</p>
        {% else %}
          {% for article in articles %}
            <div class="news-box">
              <h3 title="{{ article.title }}">{{ article.title }}</h3>
              <p>Published Date: {{ article.published_date }}</p>
              <div class="btns-wrap display-flex">
                <a class="btn-1 btn-2" href="{{ article.url }}" target="_blank">
                  <span>Read more</span>
                </a>
              </div>
            </div>
          {% endfor %}
        {% endif %}
      </div>
      {% if articles.has_other_pages %}
        <nav class="pager-wrap">
          <ul class="pager">
            {% if articles.has_previous %}
              <li class="previous">
                <a href="?page={{ articles.previous_page_number }}">
                  <span aria-hidden="true">←</span> Previous
                </a>
              </li>
            {% else %}
              <li class="previous disabled">
                <span aria-hidden="true">←</span> Previous
              </li>
            {% endif %}

            {% if articles.has_next %}
              <li class="next">
                <a href="?page={{ articles.next_page_number }}">
                  Next <span aria-hidden="true">→</span>
                </a>
              </li>
            {% else %}
              <li class="next disabled">
                Next <span aria-hidden="true">→</span>
              </li>
            {% endif %}
          </ul>
        </nav>
      {% endif %}
    </div>
  </div>
</section>
{% endblock %}
